{% extends 'vendor/lyrixx/my-theme-bootstrap/layouts/default.html.twig'%}

{% block content_main %}
    {{ parent() }}
    <h3>Dernier article</h3>
    <a href="/{{ latest.path }}">
        {{ latest.title }}
    </a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript">
    {% if site.google_analytics %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
        _gaq.push(['_trackPageview', '/404error/?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer]);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    {% endif %}
</script>
{% endblock %}

